@import '../../constants/colours.scss';

.card {
    width: 15.6875rem;
    height: 16.125rem;
    border: 0.0625rem solid $body-text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: $secondary-color;
}

.card-header {
    font-size: 1.375rem;
    color: $body-text-color;
    display: flex;
    align-items: center;
    justify-content: center;
}
