@import '../../constants/colours.scss';

.about {
    row-gap: 0.25rem;
    flex-direction: column;

    .div {
        color: $body-text-color;
    }
}

.header-div {
    flex-direction: row;
}

.pre-header {
    font-size: 2.25rem;
    color: $body-text-color;
    margin-right: 0.5rem;
}

.header-end {
    font-size: 2.25rem;
    color: $primary-color;
}

.grid-container {
    margin-top: 3.75rem;
    display: grid;
    grid-template-areas: 'left right';
    grid-template-columns: 1fr 1fr;
    column-gap: 3.8125rem;
    row-gap: 1.5rem;
}

@media only screen and (max-width: 723px) {
    .grid-container {
        margin-top: 3.75rem;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 3.8125rem;
        row-gap: 1.5rem;
    }
}

.left-column {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.right-column {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    row-gap: 1.5rem;
}