@import '../../constants/colours.scss';

.about {
    row-gap: 0.25rem;
    flex-direction: column;

    .div {
        color: $body-text-color;
    }
}

.header-div {
    flex-direction: row;
}

.pre-header {
    font-size: 2.25rem;
    color: $body-text-color;
    margin-right: 0.5rem;
    font-weight: 500;
}

.header-end {
    font-size: 2.25rem;
    color: $primary-color;
    font-weight: 900;
}

.grid-container {
    margin-top: 3.75rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3.75rem;
    row-gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.left-column {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.right-column {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    row-gap: 1.5rem;
}