@import '../../constants/colours.scss';

.link-list-container {
    display: flex;
    padding: 2% 10%;
    align-items: center;
    justify-content: space-around;
    row-gap: 2rem;
    flex-wrap: wrap;
    background: #FFFFFF;
    background: linear-gradient(to bottom, transparent 50%, #FFFFFF 50%);
}

.link {
    width: 4.0625rem;
    height: 4.0625rem;
}

.link-cards-container {
    display: flex;
    flex-direction: column;
}

.link-list-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
    font-size: 2.25rem;
    color: $alternate-body-text-color;
}

.link-container {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 0.25rem 3.125rem rgba(0, 0, 0, 0.1);
    flex-direction: column;
    width: 15.9375rem;
    height: 14.125rem;
    align-items: center;
    justify-content: center;    
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.link-card-title {
    font-weight: bold;
    font-size: 1.125rem;
    color: #101010;
}

.link-card-body {
    font-size: 0.75rem;
    color: #000000;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 11.9375rem;
}