@import './constants//colours.scss';

@font-face {
    font-family: Avenir;
    src: url("assets/fonts/Avenir/AvenirLTStd-Book.otf") format("opentype");
}

html, body, #root, .App {
  display: flex;
  flex: 1;
  font-family: 'Avenir', 'Courier New', Courier, monospace;
}

#root {
  background-color: $secondary-color;
}

.App {
  flex-direction: column;
  background-color: $secondary-color;
  background: url("./assets/bg1.png") repeat center center;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
  display: grid;
  flex: 1;
  padding: 8% 6%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 3rem;
  row-gap: 8rem;
}

@media only screen and (max-width: 75.75rem) {
  .body {
    display: grid;
    flex: 1;
    padding: 8% 6%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 3rem;
    row-gap: 8rem;
  }
}

.single-column-body {
  display: grid;
  flex: 1;
  padding: 8% 0%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  column-gap: 1rem;
  row-gap: 8rem;
}

div {
  display: flex;
}

.f-1 {
  flex: 1;
}
